In [2]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Import pandas for Dataframes
import pandas as pd

# Import datetime to filter for specific months
import datetime as dt

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [31]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
juneResults = session.query(Measurement.date, Measurement.tobs) \
        .filter().all()

TypeError: strptime() argument 1 must be str, not InstrumentedAttribute

In [30]:
dt.datetime.strptime(juneResults[0][0], '%Y-%M-%d').month

1

In [17]:
#  3. Convert the June temperatures to a list.

In [18]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
juneTemp_df = pd.DataFrame(juneResults, columns=['June Temperatures'])
juneTemp_df

     June Temperatures
0                 76.0
1                 71.0
2                 71.0
3                 74.0
4                 76.0
..                 ...
189               73.0
190               74.0
191               72.0
192               74.0
193               72.0

[194 rows x 1 columns]

In [19]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
juneTemp_df.describe()

       June Temperatures
count         194.000000
mean           75.175258
std             3.421996
min            64.000000
25%            73.000000
50%            75.500000
75%            78.000000
max            81.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

In [9]:
# 7. Convert the December temperatures to a list.

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.